* {margin: 0 auto; padding: 0; }

li {list-style: none;}
a {text-decoration: none; color: #555;}
.clfix:before, .clfix:after {content: ''; display: block; clear: both;}
#wrap {position: relative; width: 100%; height: 100%; box-sizing: inherit; display: block}

/* head */
#head { width: 1200px; display: flex;}
#head .head_logo {width: 200px;}
#head .head_logo a h2 {font-size: 30px; color: #222; padding: 20px 0;}
#head .head_logo a:hover h2 {color: #666;}
#head .head_wrap {display: block; width: 1000px;}
#head .head_wrap .login {position: relative;  padding: 20px 0; }
#head .head_wrap .login > ul {position: absolute; right: 40px; display: flex;}
#head .head_wrap .login > ul > a {}
#head .head_wrap .login > ul > a > li {font-size: 14px; color: #555; margin-right: 30px;}
#head .head_wrap .login > ul > a:hover li {color: #222;}

#head .head_wrap .menu {position: relative; width: 1000px; padding: 20px 0;}
#head .head_wrap .menu > ul {position: absolute; right: 40px; display: flex;}
#head .head_wrap .menu > ul > a {}
#head .head_wrap .menu > ul > a > li {font-size: 18px; font-weight: bold; color: #222; margin-right: 30px;}
#head .head_wrap .menu > ul > a:hover li {color: #555;}

/* section01 */
#section01 {width: 1200px; display: flex; margin-bottom: 40px;}

#section01 .con_left {width: 600px; display: flex; flex-direction: column; align-items: center; margin-top: 40px;}
#section01 .con_left .main_tit {}
#section01 .con_left .main_tit > p:nth-child(1) {font-size: 100px; font-weight: bolder;margin-bottom: 20px;}
#section01 .con_left .main_tit > p:nth-child(2) {font-size: 50px; font-weight: bold; margin-left: 150px; margin-bottom: 40px;}

#section01 .con_left .main_btn {width: 640px; display: flex;}
#section01 .con_left .main_btn > ul {width: 260px; text-align: center; border: 1px solid #ddd; padding: 20px; border-radius: 50px; background: #fff;}
#section01 .con_left .main_btn ul:hover {background-image: linear-gradient(to right, #F0FAFF, #FFF1F1); border: 0; box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);}
#section01 .con_left .main_btn ul a li {font-size: 24px; font-weight: 500; color: #222;}

#section01 .con_right {width: 600px; text-align: center;}
#section01 .con_right img {width: 280px; margin-top: 50px;} 

/* section02 */
#section02 {width: 1200px; display: flex; margin-bottom: 78px;}
#section02 .con_box {position: relative; border: 1px solid #ddd; width: 580px; height: 250px; border-radius: 25px;}
#section02 .con_box p {font-size: 16px; line-height: 1.7; color: #222; padding: 40px; font-weight: 500;}
#section02 .con_box .btn {position: absolute; bottom: 40px; right: 40px; }
#section02 .con_box .btn a {padding-left: 20px; font-size: 15px; color: #666; font-weight: 500;}
#section02 .con_box .btn a:hover {color: #222; font-weight: bold;}

/* footer */
footer { width: 100%; height: 140px; background-image: linear-gradient(to right, #F0FAFF, #FFF1F1);}
footer .con_txt {position: relative; width: 1200px; padding-top: 40px; }
footer .con_txt h4 {font-size: 24px; color: #555;}
footer .con_txt p {font-size: 12px; color: #222; padding: 10px 0;}
footer .con_txt a {position: absolute; bottom: 10px; right: 0; z-index: 11;}
footer .con_txt a img {animation: rotate_image 6s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_image{100% {transform: rotate(360deg);}}

/* login_wrap */
#login_wrap {width: 1200px; display: flex; padding: 70px 0;}
#login_wrap .login {width: 560px; padding: 60px 0; border: 1px solid #ddd; border-radius: 25px; text-align: center;}
#login_wrap .login h4 {font-size: 28px; color: #222;}
#login_wrap .login form {display: flex; flex-direction:column; align-items: flex-start; font-size:16px; color: #222; font-weight: bold; margin: 40px 0 0 70px;}
#login_wrap .login form input {  width: 400px; height: 50px; border-radius: 25px; border: 1px solid #ddd; padding-left: 20px; font-size: 12px; color: #555; margin: 12px 0;}
#login_wrap .login > a > i {font-size: 12px; color: #555; font-style: normal; padding-left: 300px;}
#login_wrap .login .btn {width: 100%; text-align: center; padding: 60px 0 80px 0;}
#login_wrap .login .btn a {padding: 15px 160px; border-radius: 25px; background-image: linear-gradient(to right, #F0FAFF, #FFF1F1); font-size: 20px; font-weight: bold; color: #222;}
#login_wrap .login .btn a:hover {box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);}

#login_wrap .join {width: 560px; padding: 40px 0; border: 1px solid #ddd; border-radius: 25px;}
#login_wrap .join h2 {font-size: 40px; padding:  20px 0 0 40px;}
#login_wrap .join p {font-size: 18px; color: #555; padding: 20px 40px;}
#login_wrap .join .btn {width: 100%; padding: 80px 40px;}
#login_wrap .join .btn a {border: 1px solid #ddd; padding: 15px 40px; border-radius: 25px; font-size: 16px; font-weight: bold; color: #555;}
#login_wrap .join img {float: right; width: 180px;}

/* join */
.join_wrap {width: 1200px; padding: 70px 0;}
.join_wrap .join_main {border: 1px solid #ddd; border-radius: 25px; padding: 40px 0;}
.join_wrap .join_main h4 {text-align: center; font-size: 28px; color: #222;}
.join_wrap .join_main form {display: flex; flex-direction:column; align-items: flex-start; font-size:16px; color: #222; font-weight: bold; margin: 40px 0; transform: translateX(33%);}
.join_wrap .join_main form input {width: 400px; height: 50px; border-radius: 25px; border: 1px solid #ddd; padding-left: 20px; font-size: 12px; color: #555; margin: 12px 0;}
.join_wrap .join_main form .input_radio {width: 100%; display: flex; align-items: center;}
.join_wrap .join_main form .input_radio input {width: 20px; height: 20px; margin-right: 10px;}
.join_wrap .join_main form .input_checkbox {width: 100%; font-size: 12px;}
.join_wrap .join_main form .input_checkbox input {width: 12px; height: 12px; margin-right: 10px;}
.join_wrap .join_main form .btn {width: 100%; text-align: center; padding: 0 0 80px 0;}
.join_wrap .join_main form .btn a {padding: 15px 160px; border-radius: 25px; background-image: linear-gradient(to right, #F0FAFF, #FFF1F1); font-size: 20px; font-weight: bold; color: #222;}
.join_wrap .join_main form .btn a:hover {box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);}