{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/css/start_page.css'%}"/>
    <title>join</title>
</head>
<body>
    <div id="wrap">
        <!--head-->
        <div id="head" class="clfix">
            <div class="head_logo">
                <a href="main.html"><h2>Toy Project</h2></a>
            </div>
            <div class="head_wrap">
                <div class="login clfix">
                    <ul>
                        <a href="login.html"><li>로그인</li></a>
                        <a href="join.html"><li>회원가입</li></a>
                    </ul>
                </div>
                <div class="menu clfix">
                    <ul>
                        <a href="#"><li>게임하기</li></a>
                        <a href="#"><li>게임방법</li></a>
                        <a href="#"><li>게임소개</li></a>
                        <a href="#"><li>리포트</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //head -->
            <div class="join_wrap">
                <div class="join_main">
                    <h4>회원가입</h4>
                    {% block register_form %}
                    {% endblock %}
                </div>
            </div>
        <!-- footer-->
        <footer class="clfix">
            <div class="con_txt">
                <h4>Toy Project Logo</h4>
                <p>COPYRIGHT© 2022 TOYPROJECT ALL RIGHT RESERVED</p>
                <a href="#"><img src="img/about.png" alt=""></a>
            </div>
        </footer>
        <!-- //footer-->
    </div>
</body>
</html>