{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/css/start_page.css'%}"/>
    <title>ToyProject</title>
</head>
<body>
    <div id="wrap" class="clfix">
        <!--head-->
        <div id="head" class="clfix">
            <div class="head_logo">
                <a href="main.html"><h2>Toy Project</h2></a>
            </div>
            <div class="head_wrap">
                <div class="login clfix">
                    <ul>
                        <a href="login.html"><li>로그인</li></a>
                        <a href="{% url 'userRegister'%}"><li>회원가입</li></a>
                    </ul>
                </div>
                <div class="menu clfix">
                    <ul>
                        <a href="#"><li>게임하기</li></a>
                        <a href="#"><li>게임방법</li></a>
                        <a href="#"><li>게임소개</li></a>
                        <a href="#"><li>리포트</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //head -->
        <!-- section01 -->
        <div id="section01" class="clfix">
            <div class="con_left">
                <div class="main_tit">
                    <p>Hello, Users</p>
                    <p>ToyProject</p>
                </div>
                <div class="main_btn">
                    <ul>
                        <a href="#"><li>게임하러가기</li></a>
                    </ul>
                    <ul>
                        <a href="#"><li>게임방법</li></a>
                    </ul>
                </div>
            </div>
            <div class="con_right">
                <img src="img/main_img.jpg" alt="">
            </div>
        </div>
        <!-- //section01 -->
        <!-- section02-->
        <div id="section02" class="clfix">
            <div class="con_box">
                <p>처음오신분들 반갑습니다 :)
                    <br>로그인을 하면 게임저장이 가능하다는 꿀팁!
                </p>
                <div class="btn">
                    <a href="login.html"><span>로그인하기</span></a>
                    <a href="{% url 'userRegister'%}"><span>회원가입하기</span></a>
                </div>
            </div>
            <div class="con_box">
                <p>게임을 이용해주셔서 감사합니다 :)
                    <br>게임에 대한 리뷰한줄 작성 부탁드립니다!
                </p>
                <div class="btn">
                    <a href=""><span>리뷰작성하기</span></a>
                </div>
            </div>
        </div>
        <!-- //section02-->
        <!-- footer-->
        <footer class="clfix">
            <div class="con_txt">
                <h4>Toy Project Logo</h4>
                <p>COPYRIGHT© 2022 TOYPROJECT ALL RIGHT RESERVED</p>
                <a href="#"><img src="img/about.png" alt=""></a>
            </div>
        </footer>
        <!-- //footer-->
    </div>
</body>
</html>